@import './constant.scss';
$semi-amber-9: 80, 43, 3;
$semi-black: 0, 0, 0;

@mixin colorTag($color1, $color2) {
  color: $color1;
  border-color: $color2;
}

.a {
  width: $default-width / 2;
  font-size: $base-font-size;
  color: $base-font-color;
  @include colorTag(#abc, #bcd);
}
